*{
    margin: 0;
    padding: 0;
}
.card-link{
    display: flex;
    height: 20px;
    width: 100%;
}
.link{
    margin: auto;
    padding: 1px;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    color: #0099ff;
}