#card-perfil{
    position: relative;
    margin: auto;
    height: 15vh;
    width: 15vh;
    border: solid;
    border-width: 1px;
    border-color: blueviolet;
    border-radius: 15vh;
}

#image{
    position: absolute;
    margin: auto;
    height: 15vh;
    width: 15vh;
    border-radius: 15vh;
}