#background{
    position: relative;
    display: flex;
    padding: 15px;
    height: 80vh;
    width: 70vh;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #45474d;
    overflow: hidden;
}

#background span:first-of-type{
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5px;
    width: 100%;
    background: linear-gradient(to right, transparent, rgb(255, 0, 157));
    animation: Animation1 2s linear infinite;
}

@keyframes Animation1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

#background span:nth-of-type(2){
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1.5px;
    background: linear-gradient(to bottom, transparent, rgb(255, 0, 157));
    animation: Animation2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes Animation2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
#background span:nth-of-type(3){
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1.5px;
    width: 100%;
    background: linear-gradient(to left, transparent, rgb(255, 0, 157));
    animation: Animation3 2s linear infinite;
}

@keyframes Animation3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
#background span:nth-of-type(4){
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1.5px;
    background: linear-gradient(to top, transparent, rgb(255, 0, 157));
    animation: Animation4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes Animation4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}